@tailwind base;
@tailwind components;
@tailwind utilities;

* { transition: background-color 0.15s, color 0.15s; }

::-webkit-scrollbar { width: 5px; }
::-webkit-scrollbar-thumb { background: #6366f1; border-radius: 4px; }